@using Teacher_Question___Answer_Platform.Models
@model QuestionModel

@{
    ViewData["Title"] = "Add Question";
    Layout = "_Layout";
}


<div class="row justify-content-center mt-16">
    <div class="col-md-4">
        <form asp-action="CreateQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" type="text"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-2">
                <input type="submit"  class="btn btn-primary" value="Add"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
