@model List<QuestionOverviewModel>
@{
    ViewData["Title"] = "Question";
    Layout = "_Layout";
}
<h2 class="align-content-center">
    Answer
</h2>
@foreach (var answer in Model)
{
    <div class="card">
        <h4 class="card-title">
            @answer.Title
        </h4>
        <div class="card-subtitle">
            @answer.CreatedOn
        </div>
        <div class="card-subtitle">
            @answer.CreatedBy
        </div>
    </div>
}
